@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Concert One', sans-serif;
    cursor: url(images/cursor.svg), auto;

}

body {
    background: #3A5874;
    cursor: url(images/cursor.svg), auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCFF;
    font-size: 50px;
}

h2 {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCFF;
    font-size: 30px;
    cursor: url(images/cursor.svg), auto;
}

h3 {
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d394a6;
    font-size: 24px;
    cursor: url(images/cursor.svg), auto;
}

ul {
    justify-content: center;
    list-style-type: none;
}


.logoimg {
    height: 30px;
    width: 140px;
    justify-content: left;
    cursor: url(images/cursor.svg), auto;
}
.logoimg:hover {
    cursor: url(images/cursor.svg), auto;
}


.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/*
#navbar__logo {
    background-image: linear-gradient(to top, #C06C84 0%, #F67280 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    cursor: url(images/pointer.svg), auto;
}
*/
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    cursor: url(images/cursor.svg), auto;
}

.navbar__item {
    height: 80px;
    cursor: url(images/cursor.svg), auto;
}

.navbar__links {
    color: #CCCCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: url(images/pointer.svg), auto;

}

.navbar__home {
    color: #CCCCFF;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: url(images/pointer.svg), auto;

}

.navbar__home:hover {
    color: #545c63;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: #545c63;
    transition: all 0.5s ease;
}

div {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30px;
    height: auto;
}

#footer {
    position: absolute;
    width: 100%;
    height: 60px;
    display: table-cell;
    vertical-align: bottom;
}

.imageHolder {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.figcaptionheader {
    font-size: 20px;
    color: #CCCCFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 10px;
    text-align: center;
    background-color: #131313;
    padding: 0.75em;
    box-decoration-break: clone;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    cursor: url(images/pointer.svg), auto;
}

.figcaptiontext {
    color: #d394a6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    text-align: center;
    background-color: #131313;
    padding: 1em 1em;
    box-decoration-break: clone;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.inline-block {
    display: inline-block;
    padding: 1em 3em;
}

.center-horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
section {
  height: 10vh;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
  
.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.red {
    background-color: lightcoral;
}
  

p {
    color: white;
}

.solidity-intro {
    display: grid;
    grid-template-columns: 1000px;
}
